$red: #e5496d;
$yellow: #e5cb49;
$green: #50C195;
$dark-green: #3C856A;
$blue: #3f63c5;
$white: #ffffff;
$black: #000000;

$text: #222;

$grey-1: #ecf0f1;
$grey-2: #bec3c7;
$grey-3: #828588;
$grey-4: #222222;

$grey-blue-1: #e3eaf2;
$grey-blue-2: #dde7ff;
$grey-blue-3: #99b7ff;