@use './colours.scss';
@use './button.scss';
@use './polaroid.scss';
@use './nav.scss';

$blue: #3f63c5;

html, body {
    margin: 0;
    padding: 0;
    background: #3C856A;
}
#map {
    height: 100vh;
}
#popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(236, 240, 241, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes dots {
    0% { content: '' }
    25% { content: '.' }
    50% { content: '..' }
    75% { content: '...' }
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Skranji', cursive;
    font-size: 42px;
    z-index: 9999999;
    transition: .1s linear;
    p {
        position: relative;
        &:after {
            position: absolute;
            left: 240px;
            top: 0;
            content: '...';
            animation: dots .5s linear 0s infinite;
        }
    }
}
.popup-inner {
    /* background: #50C195; */
    /* background: #63D8AC; */
    /* background: #3C856A; */
    border-radius: 10px;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    z-index: 1;
}
.title {
    font-family: 'Skranji', cursive;
    // background: #50C195;
    color: darken($blue, 20%);
    background: #fff;
    letter-spacing: 2px;
    padding: 10px 30px;
    border-radius: 10px;
    transform: rotate(-2deg) translate(-5vw);
}
.bfoot {
    height: 40vh;
    width: 45vh;
    /* width: auto; */
    max-width: 300px;
    object-fit: cover;
    object-position: top;
}
.bfoot.bush {
    height: 40vh;
    object-fit: contain;
    width: auto;
}
.camera {
    background: none;
    cursor: pointer;
    /* border: 3px solid #ecf0f1; */
    border: none;
    border-radius: 50%;
    transition: .5s linear;
    z-index: 2;
    justify-self: flex-end;
}
/* .camera, .close, .success {
    z-index: 2;
} */
.camera img {
    width: 75px;
    height: 75px;
    padding: 10px;
    object-fit: contain;
}
.camera:hover {
    background: rgba(236, 240, 241, 0.3);
}
.camera:active {
    background: rgba(255, 255, 255, 1);
}
.background {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.background.cover {
    object-fit: cover;
    filter: blur(20px);
}

.hidden,
#popup.hidden
{
    display: none !important;
}
