@import './colours.scss';

@mixin btn {
    background: $white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.05s linear;
    &:hover {
        background-color: $grey-1
    }
    &:active {
        background-color: $grey-2;
    }
}

.btn {
    @include btn;
    &.github {
        display: inline-flex;
        align-items: center;
        background: #010409;
        color: rgb(230, 237, 243);
        text-decoration: none;
        margin: 20px auto;
        &:hover {
            text-decoration: underline;
            background-color: hsl(213, 16%, 20%);
        }
        &:active {
            text-decoration: underline;
            background-color: hsl(216, 12%, 30%);
        }
        img {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-right: 10px;
        }
    }
}

$menu-padding: 20px;
#menu {
    position: fixed;
    top: 0;
    right: 10px;
    padding: $menu-padding;
    // Map capture group has items up to 400
    z-index: 401;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: $menu-padding;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .toggle {
        @include btn;
        .username {
            font-weight: bold;
        }
    }
    .dropdown {
        background-color: $white;
        padding: 10px 0;
        box-shadow: 2px 2px 5px rgba(0,0,0,.3);
        border-radius: 5px;
        a, button {
            background: none;
            border: none;
            font-size: 16px;
            color: darken($blue, 30%);
            cursor: pointer;
            padding: 6px 16px;
            border-radius: 2px;
            display: block;
            text-decoration: none;
            &:hover {
                background-color: $grey-1;
                text-decoration: underline;
            }
        }
        button {
            width: 100%;
            text-align: left;
        }
    }
}
.score-wrapper {
    position: relative;
}
.score {
    margin: 26px 0;
    font-family: 'Skranji', cursive;
    font-size: 20px;
    color: $blue;
    text-shadow: 0px 0px 3px $white;
}
@keyframes plusOne {
    0% {
        opacity: 0;
        bottom: -10px;
    }
    35% {
        opacity: 1;
        bottom: 10px;
    }
    80% {
        opacity: 1;
        bottom: 10px;
    }
    100% {
        opacity: 0;
    }
}
.plus-one {
    position: absolute;
    left: -30px;
    bottom: 10px;
    font-size: 26px;
    font-weight: bolder;
    color: $red;
    text-shadow: 0px 0px 4px $yellow;
    display: none;
    opacity: 0;
    &.show {
        display: block;
        animation: plusOne 1s linear 1 .5s;
    }
}

.center-player {
    @include btn;
    $radius: 60px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 402;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $radius;
    height: $radius;
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(0,0,0,.3);
    img {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
    .target {
        display: initial;
    }
    .target-full {
        display: none;
    }
    &.active {
        background-color: $grey-blue-1;
        .target {
            display: none;
        }
        .target-full {
            display: initial;
        }
    }
}

@mixin modal {
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    & .modal-inner {
        background: $white;
        min-width: 20vw;
        // min-height: 50vh;
        width: auto;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 3px 8px 10px rgba(0,0,0,.3);
        padding: 20px 60px 60px 60px;
        position: relative;
        & .modal-close {
            @include btn;
            position: absolute;
            top: 8px;
            right: 8px;
            color: $grey-2;
            font-size: 20px;
            border-radius: 50%;
            &:hover {
                color: $text;
            }
        }
    }
}
.modal {
    @include modal;
}

.leader-board {
    font-family: 'Skranji', cursive;
}
.instructions {
    $w: 150px;
    .modal-inner {
        max-width: 700px;
    }
    img {
        border-radius: 5px;
    }
    figure {
        $w: 30%;
        $h: 150px;
        width: $w;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: row;
        img {
            width: 100%;
            height: $h;
            object-fit: cover;
            border-radius: 5px;
        }
        &.primary-fig {
            display: flex;
            width: auto;
            img {
                flex: 1;
                margin-right: 20px;
            }
            figcaption {
                flex: 2;
            }
        }
        &.figure {
            flex-direction: column;
            width: auto;
            img {
                height: 300px;
                object-fit: contain;
            }
        }
    }
    .main-gallery {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        figure {
            flex-direction: column;
        }
    }
    .interface {
        display: flex;
        position: relative;
        img {
            flex: 1;
            height: auto;
            object-fit: contain;
            max-width: 40%;
            align-self: center;
        }
        ol {
            flex: 1;
        }
    }
}
.primary-fig {
    display: flex;
    width: auto;
    img {
        flex: 1;
        margin-right: 20px;
    }
    figcaption {
        flex: 2;
    }
}
table {
    border-radius: 5px;
    border-collapse: collapse;
    border: 1px solid $text;
    th {
        font-size: 1.3rem;
    }
    td, th {
        border: 1px solid $text;
        text-align: center;
        padding: 6px 18px;
        min-width: 100px;
    }
    td:first-child {
        background: lighten($green, 40%);
    }
    thead {
        background: linear-gradient(330deg, darken($green, 20%) 0%, $green 100%);
        color: $white;
    }
}