<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=11"/>
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self';"/> -->
        <title>Bigfoot Go</title>
        <!-- <link href='node_modules/leaflet/dist/leaflet.css' rel='stylesheet' /> -->
        <link
            rel='stylesheet'
            href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css'
            integrity='sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY='
            crossorigin='anonymous'
        />
        <script
            src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js'
            integrity='sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo='
            crossorigin='anonymous'
        ></script>
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
        <link href='https://fonts.googleapis.com/css2?family=Skranji&display=swap' rel='stylesheet'>
        <link rel='stylesheet' href='./src/css/index.css'>
    </head>
    <body>
        <nav id='menu'>
            <div class='profile'>
                <button class='toggle'>Logged in as <span class='username'><%= username %></span></button>
                <div class='dropdown hidden'>
                    <a href='/user/logout'>logout</a>
                    <hr />
                    <button class='leader-board-option'>leader board</button>
                    <button class='instructions-option'>instructions & about</button>
                </div>
            </div>
            <div class='score-wrapper'>
                <p class='score'><span class='sightings'><%= score %></span> confirmed sightings</p>
                <p class='plus-one'>+1</p>
            </div>
        </nav>
        <div id='map'></div>
        <div class='loading'>
            <p>loading map</p>
        </div>
        <button aria-roledescription='re-centers the view on the user location' class='center-player active'>
            <img class='target-full' src='./src/imgs/ui/target-full.png' alt='center view on player'>
            <img class='target' src='./src/imgs/ui/target.png' alt='center view on player'>
        </button>
        <div id='popup' class='hidden'>
            <img class='background cover' src='./src/imgs/forest-background.jpg' alt='background'>
            <img class='background primary' src='./src/imgs/forest-background.jpg' alt='background'>
            <div class='popup-inner'>
                <h2 class='title'>Something is rustling ahead!</h2>
                <div class='polaroid hidden'>
                    <div class='polar-border'>
                        <!-- <img class='bfoot actual' src='./src/imgs/bigfoot-captured/bfoot-sprite.png' alt='Cartoon Bigfoot'> -->
                        <img class='bfoot actual' src='./src/imgs/bigfoot.jpg' alt='Cartoon Bigfoot'>
                    </div>
                </div>
                <div class='polaroid hidden'>
                    <div class='polar-border'>
                        <img class='bfoot danny' src='./src/imgs/danny/danny.jpeg' alt='Danny Divito'>
                    </div>
                </div>
                <img class='bfoot bush' src='./src/imgs/ui/icon-bush.gif' alt='Cartoon bush rustling'>
                <button class='camera'>
                    <!-- Attribution https://www.iconfinder.com/icons/5093955/camera_photo_polaroid_icon -->
                    <img src='./src/imgs/ui/icon-camera.png' alt='capture'>
                </button>
                <!-- <button class='button close hidden'>Probably a fake anyway (close)</button> -->
                <button class='button close hidden'>Close</button>
                <button class='button success hidden'>Finished</button>
            </div>
        </div>
        <div class='modal leader-board hidden'>
            <div class='modal-inner leader-board-inner'>
                <button class='modal-close'>✖</button>
                <h2>Bigfoot Go Leader Board</h2>
                <table class='leader-board__list'>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>User</th>
                            <th>Confirmed Sightings</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='modal instructions hidden'>
            <div class='modal-inner'>
                <button class='modal-close'>✖</button>
                <img src='./src/imgs/instructions/main-interface.png' alt='main game screen' />
                <h1>Welcome to Bigfoot Go!</h1>
                <h2>The game where you hunt AI-interpreted Bigfoot sightings in your local area.</h2>

                <h3>About the Project</h3>
                <p>This Pokemon-Go inspired game was created by <a class='btn' href='https://github.com/Oddert'>Robyn Veitch</a>, Anna Horne, and Caroline Sauter for the NatWest PICoE Away Day 2023.</p>
                <p>The game uses the official* dataset of Bigfoot sightings to generate fake datasets scaled around the player.</p>
                <p>Explore your local area, investigate potential sightings, and send your results to your local Bigfoot Hunters Chapter!</p>
                <span class='footnote'>* I don't know what constitutes an "official" encounter vs an alleged encounter and I didn't want to ask.</span>

                <div>
                    <a class='btn github' href='https://github.com/Oddert/Bigfoot-Go'>
                        <img src='./src/imgs/ui/github.svg' alt='github logo' target='__blank'>
                        View the Code on GitHub
                    </a>
                </div>

                <h3>Instructions</h3>
                <p>BF-Go is a geolocation based game that requires users to explore their local area to find sightings.</p>
                <p>As you walk around you'll find evidence of sightings. Investigate these for a chance to capture a Bigfoot on camera.</p>
                <h4>Gameplay</h4>
                <div class='main-gallery'>
                    <figure>
                        <img src='./src/imgs/instructions/player-location.png' alt='the player location point'>
                        <figcaption>This indicator is you, the lighter blue circle is the location accuracy.</figcaption>
                    </figure>
                    <figure>
                        <img src='./src/imgs/instructions/bushes-appear.png' alt='the player surrounded by a few bush icons'>
                        <figcaption>Potential sightings are indicated with this bush rustling icon.<br />Approach these and click on them to investigate.</figcaption>
                    </figure>
                    <figure>
                        <img src='./src/imgs/instructions/bigfoot-encounter.png' alt='the encounter interface screen'>
                        <figcaption>Try to take a photo quickly before whoever it is runs away!</figcaption>
                    </figure>
                </div>
                <h4>Investigating a Bigfoot Sighting</h4>
                <figure class='primary-fig'>
                    <img src='./src/imgs/instructions/bigfoot-potential.png' alt='a polaroid photograph of a question mark'>
                    <figcaption>If you manage to capture a Bigfoot, send the photograph to your local newspaper or Bigfoot Hunters Chapter (BHC) to earn points, I'm sure they'd be very interested!</figcaption>
                </figure>
                <h4>Watch out! Success is not guaranteed</h4>
                <figure class='primary-fig'>
                    <img src='./src/imgs/instructions/encounter-failed.png' alt='a polaroid photograph of a question mark'>
                    <figcaption>You must act fast before they run away and even then, your skills as a photographer will be needed for a clean shot.</figcaption>
                </figure>

                <h3>Interface</h3>
                <div class='interface'>
                    <img src='./src/imgs/instructions/main-interface-annotated.png' alt='the main screen of the game'>
                    <ol>
                        <li>Zoom controls for the map</li>
                        <li>The players location. Blue dot is the location and the light blue circle is the accuracy range.</li>
                        <li>Drop down menu to view the leader board, instructions and logout.</li>
                        <li>Score / Number of confirmed sightings.</li>
                        <li>Button to centre the map on the player. When the map is centred the button will indicate so and the map wil follow the user as you walk.</li>
                        <li>Leaflet.js credit links.</li>
                    </ol>
                </div>

                <h3>AI Generated Data</h3>
                <p>"Ok so whats the deal, you just plot some random points around the user and have them walk around? Is that it?"</p>
                <p><i>No of course not! Don't be silly. The robot does that.</i></p>
                <p>Joking aside the heart of this project is in fact the AI generated dataset.</p>
                <p>This project utilises Mostly.AI, trained on the seed dataset of "real" sightings, to generate a collection of fresh new data points to serve to the user, ensuring something new each time.</p>
                <figure class='primary-fig'>
                    <img src='./src/imgs/instructions/mostlyai-landing.png' alt='Mostly-AI landing page'>
                    <img src='./src/imgs/instructions/mostlyai-upload.png' alt='Mostly-AI upload interface'>
                </figure>
                <p>
                    Mostly AI is a fake dataset generator that allows users to create massive amounts of fake data for the purposes of testing applications, performing research and modelling, and application demonstrations.
                </p>
                <p>
                    You can provide seed data in a couple of ways but the main way is via a CSV file. You then tell Mostly how many rows you'd like and it will interpolate the seed data, producing fake data to match.
                </p>
                <figure class='primary-fig'>
                    <img src='./src/imgs/instructions/mostlyai-univatiate.png' alt='Mostly-AI univatiate metrics page'>
                    <img src='./src/imgs/instructions/mostlyai-generated-bfoot-data.png' alt='Mostly-AI landing page'>
                </figure>
                <p>
                    Mostly will produce fake data which mimics patterns found in the seed data as closely as possible.
                </p>
                <p>
                    This data can then be exported as a CSV again or fed directly into a hosted database. In our case its just downloaded manually.
                </p>
            </div>
        </div>
    </body>
    <script type='module' src='./src/js/index.js'></script>
</html>