<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=11"/>
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self';"/> -->
        <title>
        <title>Bigfoot Go</title>
        <!-- <link href='node_modules/leaflet/dist/leaflet.css' rel='stylesheet' /> -->
        <link
            rel='stylesheet'
            href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css'
            integrity='sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY='
            crossorigin='anonymous'
        />
        <script
            src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js'
            integrity='sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo='
            crossorigin='anonymous'
        ></script>
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
        <link href='https://fonts.googleapis.com/css2?family=Skranji&display=swap' rel='stylesheet'>
        <link rel='stylesheet' href='./src/css/index.css'>
    </head>
    <body>
        <nav id='menu'>
            <div class='profile'>
                <button class='toggle'>Logged in as <span class='username'><%= username %></span></button>
                <div class='dropdown hidden'>
                    <a href='/user/logout'>logout</a>
                </div>
            </div>
            <p class='score'><span class='sightings'><%= score %></span> confirmed sightings</p>
        </nav>
        <div id='map'></div>
        <div id='popup' class='hidden'>
            <img class='background cover' src='./src/imgs/forest-background.jpg' alt='background'>
            <img class='background primary' src='./src/imgs/forest-background.jpg' alt='background'>
            <div class='popup-inner'>
                <h2 class='title'>Something is rustling ahead!</h2>
                <div class='polaroid hidden'>
                    <div class='polar-border'>
                        <!-- <img class='bfoot actual' src='./src/imgs/bigfoot-captured/bfoot-sprite.png' alt='Cartoon Bigfoot'> -->
                        <img class='bfoot actual' src='./src/imgs/bigfoot.jpg' alt='Cartoon Bigfoot'>
                    </div>
                </div>
                <div class='polaroid hidden'>
                    <div class='polar-border'>
                        <img class='bfoot danny' src='./src/imgs/danny/danny.jpeg' alt='Danny Divito'>
                    </div>
                </div>
                <img class='bfoot bush' src='./src/imgs/ui/icon-bush.gif' alt='Cartoon bush rustling'>
                <button class='camera'>
                    <img src='./src/imgs/ui/icon-camera.png' alt='capture'>
                </button>
                <!-- <button class='button close hidden'>Probably a fake anyway (close)</button> -->
                <button class='button close hidden'>Close</button>
                <button class='button success hidden'>Finished</button>
            </div>
        </div>
    </body>
    <script type='module' src='./src/js/index.js'></script>
</html>